{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ self.slug }} style="overflow-x: hidden;"{% endblock %}

{% block extra_head %}
    <style>
        .home-video-embed {
            position: relative;
            /* falls back to 16/9, but otherwise uses ratio from HTML */
            padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); 
            padding-top: 25px;
            
            /* below attempts to hide the bar on hover over */
            /* See https://stackoverflow.com/questions/18342536/how-to-hide-the-bar-at-the-top-of-youtube-even-when-mouse-hovers-over-it */
            overflow: hidden;
            width: 100%;
            /* Keep it the right aspect-ratio */
            aspect-ratio: 16/9;
            /* No clicking/hover effects */
            pointer-events: none;
        }

        .home-video-embed iframe {
            position: absolute;
            top: 0;
            left: 0;

            /* below attempts to hide the bar on hover over */
            /* See https://stackoverflow.com/questions/18342536/how-to-hide-the-bar-at-the-top-of-youtube-even-when-mouse-hovers-over-it */
            /* Extend it beyond the viewport... */
            width: 300%;
            height: 100%;
            /* ...and bring it back again */
            margin-left: -100%;
        }

        .home-video-embed .caption {
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            text-align: center;
            z-index: 999;
        }

        .home-video-embed .video-opacity {
            background-color: #000000;
            opacity: 0.88;
            transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="home-video-embed">
        <div class="caption">
            <h2 class="display-5 fw-bold text-white">Inspiring Youth to Reach<br/>their Highest Potential</h2>
        </div>

        <div class="video-opacity">
            <iframe width="560" height="315" title="Inspiring Youth to Reach Their Highest Potential video" src="//www.youtube.com/embed/vaEp5bvYxGw?autoplay=1&loop=1&mute=1&playsinline=1&enablejsapi=1&playlist=vaEp5bvYxGw" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="container">
        <div class="row my-4">
            <div class="col-12 col-md-6 d-flex align-items-center">
                <div class="streamfield">
                    <p data-block-key="wg5jr">The Rosa Parks Scholarship Foundation has awarded more than $3 million in scholarships to more than 2,250 high school seniors since its founding by The Detroit News and Detroit Public Schools in 1980.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center">
                <figure>
                    <picture>
                        <source srcset="https://rpsf-s3.s3.amazonaws.com/media/images/rosa-parks-with-grad.width-900.format-webp.webp" type="image/webp">
                        <img class="img-fluid  float-start" alt="Rosa Park with Grad" height="323" src="https://rpsf-s3.s3.amazonaws.com/media/images/rosa-parks-with-grad.original.webp" width="540" loading="lazy">
                    </picture>
                </figure> 
            </div>
        </div>


        <div class="row my-4">
            <div class="col-12 col-md-6">
                <div class="text-center text-md-end">
                    <p>
                        <a class="btn btn-lg btn-secondary" href="https://survey.alchemer.com/s3/7135462/RP-Application-2023">Apply Now</a>
                    </p>
                </div> 
            </div>
            <div class="col-12 col-md-6">
                <div class="text-center text-md-start">
                    <p>
                        <a class="btn btn-lg btn-secondary" href="https://www.paypal.com/donate/?hosted_button_id=XFGKDGXH5BDZ4">Donate Now</a>
                    </p>
                </div> 
            </div>
        </div>          
              
        <div class="row bg-light p-4 my-4">
            <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end mb-2">
                <video width="320" height="240" controls>
                    <source src="https://d2s34nehzymfnm.cloudfront.net/media/videos/rosa_parks_2023_v2.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center text-center text-md-start">
                <h3>We host an annual scholarship luncheon. Check out our 2023 event.</h3>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-12 col-md-6 text-center text-md-end">
                <h3>Alumni Spotlight</h3>
                <p><b>Name</b>: Monice Mitchell Simms</p>
                <p><b>Scholarship Class</b>: 1989</p>
                <p><b>High School</b>: Martin Luther King Jr. High School, Detroit, Mich.</p>
                <p>
                    <a class="btn btn-md btn-secondary" href="/about/alumni-spotlight/">Read More</a>
                </p>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <picture>
                    <img class="img-fluid rounded-circle" alt="Monice Mitchell" src="https://rpsf-s3.s3.amazonaws.com/media/images/alum-monice-mitchell-simms-square.original.webp" width="293" height="293" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
{% endblock %}