boto3==1.38.41
Django==5.2.3
django-anymail[mailgun]==13.0
dj-database-url==3.0.0
django-debug-toolbar==5.2.0
django-storage-url==0.12.1
django-storages==1.14.6
fontawesomefree==6.6.0
gevent==25.5.1
gunicorn==23.0.0
psycopg==3.2.9
sentry-sdk==2.30.0
wagtail==6.4.2
whitenoise==6.9.0

crispy-bootstrap5==2025.6
django-allauth==65.9.0
django-braces==1.17.0
django-formtools==2.5.1
django-phonenumber-field[phonenumberslite]==8.1.0
django-redis==6.0.0
wagtailcodeblock==1.29.0.2
# pillow-heif specific version for dependency resolution
pillow-heif==0.21.0dock