{% load static %}


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <p class="fw-bold mb-0">A 501(c)3 non-profit organization</p>
            <ul class="list-inline mb-0">
                <li class="copyright">Copyright {% now "Y" %} {{ current_site.site_name }}</li>
            </ul>
            <p class="mb-0">A <a target="_blank" href="https://fourfridays.com"><img alt="fourfridays beta" class="img-fluid" src="https://fourfridays-live-29b11c4083794d5fa58b55-3fbe1ea.divio-media.com/images/fourfridays-wordmark-red-transparent.width-900.png" width="128px"></a> website</p>
        </div>
    </div>
</div>