{% load navigation_tags static %}


<nav class="navbar navbar-expand-md text-uppercase" role="navigation">
    <a 
        class="navbar-brand text-uppercase"
        href="/"
        title="{{ current_site.site_name }}">
        <img
            class="img-fluid bg-secondary ms-2 px-2"
            alt="Rosa Parks Scholarship Foundation"
            src="{% static 'images/rosa-parks-logo.png' %}">
    </a>
    <button class="bg-primary mx-2 navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list text-black" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>

    {% block main_navigation %}
    <div
        id="navbarSupportedContent"
        class="collapse navbar-collapse"
        role="navigation"
        aria-label="Primary site navigation"
    >
        <ul class="navbar-nav me-auto text-center text-md-left">
            <li class="nav-item btn btn-sm btn-primary me-md-3 my-1 my-md-0">
                <a class="nav-link text-black text-decoration-none" href="/" role="menuitem">Home</a>
            </li>
            {# main_menu is defined in pages/templatetags/navigation_tags.py #}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        </ul>
    </div>
    {% endblock %}
</nav>