{% load wagtailcore_tags wagtailimages_tags %}

<div class="container image-grid">
    <div class="row">
        <div class="col-12">
            <hr>
            <div class="card-group">
                {% for child in self %} 
                    <div class="card border me-2">
                        {% if child.value.internal_link %}
                            <a class="text-black" href="{% pageurl child.value.internal_link %}">
                        {% elif child.value.external_link %}
                            <a class="text-black" href="{{ child.value.external_link }}">
                        {% endif %}
                        {% image child.value.image max-400x225 format-webp as webp_image_grid %}
                        {% image child.value.image max-400x225 as image_grid %}
                        <picture>
                            <source srcset="{{ webp_image_grid.url }}" type="image/webp">
                            <img class="card-img-top img-fluid" {{ image_grid.attrs }} loading="lazy">
                        </picture>
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ child.value.caption }}</h5>
                            {% if child.value.description %}
                                <p class="card-text">{{ child.value.description }}</p>
                            {% endif %}
                        </div>
                        {% if child.value.internal_link or child.value.external_link %}
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>