{% load wagtailcore_tags wagtailimages_tags %}

<div class="container image-grid">
    <div class="row">
        <div class="col-12">
            <h1>Sponsors</h1>
            <p>Thank you to all our sponsors</p>
            <hr>
        </div>

        <div class="col-4">
            <div class="card-group">
                <div class="card border me-2">
                    {% if self.link %}
                        <a 
                            title="{{ self.name }}"
                            target="_blank"
                            class="text-black"
                            href="{{ self.link }}"
                        >
                    {% endif %}
                    {% image self.image fill-430x250-c100 format-webp as webp_image_grid %}
                    {% image self.image fill-430x250-c100 as image_grid %}
                    <picture>
                        <source class="card-img img-fluid"srcset="{{ webp_image_grid.url }}" type="image/webp">
                        <img class="card-img-top img-fluid" {{ image_grid.attrs }}>
                    </picture>
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ self.name }}</h5>
                        {% if self.description %}
                            <p class="card-text">{{ self.description }}</p>
                        {% endif %}
                    </div>
                    {% if self.link %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>