<article class="text-center {% if self.alignment != 'center' %}text-sm-{{ self.alignment }} {% endif %}">
    <div class="container">
        <div class="row {% if self.background_color != 'none' %}bg-{{ self.background_color }} py-4 py-sm-5 {% endif %}my-4">
            <div class="col-12 col-md-4{% if self.vertical_alignment %} d-flex align-items-center{% endif %}">
                {% include "includes/streamfield.html" with content=self.left_column only %}
            </div>
            <div class="col-12 col-md-4{% if self.vertical_alignment %} d-flex align-items-center{% endif %}">
                {% include "includes/streamfield.html" with content=self.middle_column only %}
            </div>
            <div class="col-12 col-md-4{% if self.vertical_alignment %} d-flex align-items-center{% endif %}">
                {% include "includes/streamfield.html" with content=self.right_column only %}
            </div>
        </div>
    </div>
</article>