<article class="text-{{ self.alignment }}">
    <div class="container">
        <div class="row my-4">
            <div class="col-12 col-md-6{% if self.vertical_alignment %} d-flex align-items-center{% endif %}">
               {% include "includes/streamfield.html" with content=self.left_column only %}
            </div>
            <div class="col-12 col-md-6{% if self.vertical_alignment %} d-flex align-items-center{% endif %}">
               {% include "includes/streamfield.html" with content=self.right_column only %}
            </div>
        </div>
    </div>
</article>