{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Scholarship Application Attachments{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Scholarship Application - Upload Attachments</h2>
                <p>Only PDF or DOC formats. Maximum file size is 3MB. All required attachments need to be uploaded before clicking upload below.</p>
                <p class="small">* required fields</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-md btn-primary" type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}