{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}User Scholarship Delete Application{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>User Scholarship Delete Applications</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-10">
            <p>Select the applications you would like to delete and click the "Delete Applications" button.</p>
            <form method="get" action="{% url 'scholarship-application-delete' %}">
                <input type="text" name="search" placeholder="Search">
                <input class="btn btn-primary btn-sm" type="submit" value="Search">
            </form>
            <a href="{% url 'scholarship-application-delete' %}">Clear Search</a>
        </div>
        <div class="col-12 text-center mt-4">
            <form method="post" action="{% url 'scholarship-application-delete' %}">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <th>Select</th>
                        <th>Email</th>
                        <th>Completed Application (Application/Attachments Submitted)</th>
                        <th>Submitted Attachments</th>
                    </tr>
                    {% for user in object_list %}
                    {% if user.is_active %}
                    <tr>
                        <td><input type="checkbox" name="user_ids" value="{{ user.id }}"></td>
                        <td>{{ user.email }}</td>

                        {% if user.has_submitted_application and user.has_submitted_attachments %}
                        <td><svg fill="#1b8a5a" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg></td>
                        {% else %}
                        <td><svg fill="#ee3e32" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm79 143c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg></td>
                        {% endif %}

                        {% if user.has_submitted_attachments %}
                        <td><svg fill="#1b8a5a" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg></td>
                        {% else %}
                        <td><svg fill="#ee3e32" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm79 143c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                <input class="btn btn-primary btn-sm" type="submit" value="Delete Applications">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-4">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
                    {% endif %}
                </span>
            </div>
        </div>
</div>
{% endblock %}