{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Scholarship Application{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Scholarship Application</h1>

                <p>Page {{ wizard.steps.step1 }} of {{ wizard.steps.count }}<br>
                    <span class="fw-bold">{{ form.title }}</span><br>
                    <span class="small">* required fields (if necessary, you can indicate "NA" if you don't have a response)</span>
                </p>

                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {{ form|crispy }}
                            {% endfor %}
                        {% else %}
                            {{ wizard.form|crispy }}
                        {% endif %}
                    </table>
                    {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" class="btn btn-secondary btn-sm" type="submit" value="{{ wizard.steps.first }}" formnovalidate>First Page</button>
                        <button name="wizard_goto_step" class="btn btn-secondary btn-sm" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>Previous Page</button>
                    {% endif %}
                    {% if wizard.steps.step1 == wizard.steps.count %}
                        <p class="mt-4">Once you click <strong>"Submit"</strong> below your application is final - you cannot go back and review/edit, and we cannot edit it for you.  Suggest that you first go back to "first page" and review and perhaps print (right click in space next to data and select print).  Continue this through all eight pages.  Once you submit your application you will then be required to attach required documents:  two reference letters, transcripts, honors and awards, extracurricular activity, community service and an essay.</p>
                        <button class="btn btn-sm btn-primary" type="submit" value="submit">Submit Form</button>
                    {% else %}
                        <button class="btn btn-sm btn-primary" type="submit" value="submit">Save Current Page</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}