{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Scholarship Applications List{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Scholarship Applications List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-10">
            <form method="get" action="{% url 'scholarship-application-list' %}">
                <input type="text" name="search" placeholder="Search">
                <input class="btn btn-primary btn-sm" type="submit" value="Search">
            </form>
            <a href="{% url 'scholarship-application-list' %}">Clear Search</a>
        </div>
        <div class="col-12 col-lg-10 text-center mt-4">
            <form method="post" action="{% url 'scholarship-application-download-excel' %}">
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th>Email</th>
                            <th>Completed Application</th>
                            <th>Started Application</th>
                            <th>Submitted Application</th>
                            <th>Submitted Attachments</th>
                        </tr>
                    </thead>
                    {% for user in object_list %}
                    <tr>
                        <td><input type="checkbox" class="item-checkbox" name="user_ids" value="{{ user.id }}"></td>
                        <td>{{ user.email }}</td>

                        {% if user.has_submitted_application and user.has_submitted_attachments %}
                        <td class="text-success">True</td>
                        {% else %}
                        <td class="text-danger">False</td>
                        {% endif %}

                        {% if user.temporarystorage_set.all %}
                        <td class="text-success">Saved Steps
                            {% for value in user.temporarystorage_set.all %}
                            {% if forloop.last %}
                            {{ value.step }}
                            {% else %}
                            {{ value.step }},
                            {% endif %}
                            {% endfor %}
                        </td>
                        {% else %}
                        <td class="text-danger">---</td>
                        {% endif %}

                        {% if user.has_submitted_application %}
                        <td class="text-success">True</td>
                        {% else %}
                        <td class="text-danger">False</td>
                        {% endif %}

                        {% if user.has_submitted_attachments %}
                        <td class="text-success">True</td>
                        {% else %}
                        <td class="text-danger">False</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                <input class="btn btn-primary btn-sm" type="submit" value="Download Excel">
            </form>
        </div>
        <div class="col-12 col-lg-2">
            <form method="get" id="filterForm">
                {{ filter_form|crispy }}
                <input type="submit" value="Filter" class="btn btn-primary btn-sm">
                <a href="{% url 'scholarship-application-list' %}" class="btn btn-default">Clear</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
        document.getElementById('select-all').addEventListener('change', function(e) {
            var itemCheckboxes = document.getElementsByClassName('item-checkbox');
            for (var i = 0; i < itemCheckboxes.length; i++) {
                itemCheckboxes[i].checked = e.target.checked;
            }
        });
    </script>
{% endblock %}