apiVersion: apps/v1
kind: Deployment
metadata:
  name: rpsf
spec:
  replicas: 2
  selector:
    matchLabels:
      app: rpsf
  template:
    metadata:
      labels:
        app: rpsf
    spec:
      initContainers:
        - name: migrate
          image: ghcr.io/fourfridays/rosaparksscholarship.org:latest
          imagePullPolicy: Always
          command: ["python", "manage.py", "migrate"]
          envFrom:
          - secretRef:
              name: secret
      containers:
        - image: ghcr.io/fourfridays/rosaparksscholarship.org:latest
          name: rpsf
          resources:
            requests:
              ephemeral-storage: "2Gi"
              memory: "256Mi"
            limits:
              ephemeral-storage: "4Gi"
              memory: "512Mi"
          envFrom:
          - secretRef:
              name: secret
          - configMapRef:
              name: config
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: rpsf
  labels:
    app: rpsf
spec:
  selector:
    app: rpsf
  ports:
    - port: 8088
      targetPort: 8000
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: rpsf
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  ingressClassName: traefik
  rules:
    - host: rosaparksscholarship.org
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: rpsf
                port:
                  number: 8088
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: rpsf-tls
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`rosaparksscholarship.org`)
      middlewares:
        - name: rpsf-gzip-compress
      services:
        - name: rpsf
          port: 8088
  tls: # This route uses TLS
    secretName: rpsf-tls # Uses our certificate resolver to get a certificate automatically!
---
# Enable gzip compression
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: rpsf-gzip-compress
spec:
  compress: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: rpsf-tls
spec:
  secretName: rpsf-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
  - rosaparksscholarship.org
  - www.rosaparksscholarship.org